<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script type="application/javascript" src='{{ "js/theme-mode.js" | absURL }}'></script>
    <link rel="stylesheet" href='{{ "css/frameworks.min.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/github.min.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/github-style.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/light.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/dark.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/syntax.css" | absURL }}' />
    <title>{{ if .IsHome }}{{ else }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>

    {{ if .Site.Params.favicon }}
    <link rel="icon" type="image/x-icon" href='{{ .Site.Params.favicon  }}'>
    {{ else }}
    <link rel="icon" type="image/x-icon" href='{{ "images/favicon.ico" | absURL }}'>
    {{ end }}
    <meta name="theme-color" content="#1e2327">

    <!-- Extended head section-->
    {{ partial "extended_head.html" . }}


    <!-- twitter cardの種類を指定-->
    <meta name="twitter:card"   content="summary">

    <!-- OGP-->
    <meta property="og:type"        content="article">
    <meta property="og:title"       content="{{ .Params.title}}">
    <meta property="og:description" content="{{ .Params.summary }}">
    <meta property="og:image"       content="{{ .Site.BaseURL }}{{ .Site.Params.Twitterthumbnail }}">


    <!--twitterユーザー名-->
    <meta property="twitter:site"   content=" {{ .Site.Params.Twitterusername }}">
    <meta property="twitter:site:id"   content=" {{ .Site.Params.Twitterid }}">
    <meta property="twitter:creator"   content=" {{ .Site.Params.Creator }}">
    <meta property="twitter:creator:id"   content=" {{ .Site.Params.Creatorid }}">

</head>