<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script type="application/javascript" src='{{ "js/theme-mode.js" | absURL }}'></script>
    <!-- config.tomlで管理されてなくて草-->
    <link rel="stylesheet" href='{{ "css/frameworks.min.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/github-style.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/github.min.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/light.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/dark.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/syntax.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/syntax-highlight.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/amazon.css" | absURL }}' />




    <title>{{ if .IsHome }}{{ else }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>

    <link rel="icon" type="image/x-icon" class="js-site-favicon" href='{{ "images/favicon.png" | absURL }}'>
    <link rel="shortcut icon" href='{{ "images/favicon.png" | absURL }}'/>
    <meta name="theme-color" content="#1e2327">

    <!-- Extended head section-->
    {{- partial "extended_head.html" . -}}

    
    {{- template "_internal/opengraph.html" . -}}
    {{- partial "twitter_cards.html" . -}}
    <meta name="google-site-verification" content="YU1_ClP-o-Mii1ZGTufcRBj1d1IeoefN7G52YkbxmVE" />
</head>