<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script type="application/javascript" src='{{ "js/theme-mode.js" | absURL }}'></script>
    <link rel="stylesheet" href='{{ "css/frameworks.min.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/github.min.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/github-style.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/light.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/dark.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/syntax.css" | absURL }}' />
    <title>{{ if .IsHome }}{{ else }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>

    {{ if .Site.Params.favicon }}
    <link rel="icon" type="image/x-icon" href='{{ .Site.Params.favicon  }}'>
    {{ else }}
    <link rel="icon" type="image/x-icon" href='{{ "images/favicon.ico" | absURL }}'>
    {{ end }}
    <meta name="theme-color" content="#1e2327">

    <!-- Extended head section-->
    {{ partial "extended_head.html" . }}

    <!-- OGP -->

    <meta property="og:url" content="{{ .Permalink | absURL }}"/>
    <meta property="og:site_name" content="{{ .Site.Title }}"/>
    {{- if .IsHome }}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Site.Params.Description }}"/>
    <meta property="og:image" content="{{ $.Site.Params.avatar }}"/>
    {{- else }}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Params.Description }}"/>
    {{ if isset .Params "date" }}
    <meta property="article:published_time" content="{{ time .Date }}" />
    {{ end }}
    {{- end }}

</head>